body {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #b1cbf7;
}

main {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    font-size: 16px;
}

nav {
    display: flex;
    background-color: #b1cbf7;
    padding: 10px;
}

a {
    display: inline;
    font-weight: bold;
    color: #2155b1;
    padding: 4px;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 10px;
    }
    a:hover {
        background-color: #2155b1;
        color: white;
    }
    a:focus {
        color: thistle;
    }

h1 {
    color: #2155b1;
    text-align: center;
    font-size: 50px;
}

nav {
    background-color: #b1cbf7;
}

p {
    text-align: justify;
    line-height: normal;
}

footer {
    background-color: #b1cbf7;
}

.grid {
    padding: 30px;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    gap: 20%; /* Adjust the gap as needed */
}

.photo-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
}